@{
  Layout="Shared/_Layout.cshtml";
}

<div id="new">

</div>
  <h2>You've added a new contact</h2>
<ul>
  <li>@Model.GetName()</li>
  <ul>
    <li>@Model.GetPhone()</li>
    <li>@Model.GetAddress()</li>
    <li><img src="@Model.GetPhoto()" alt ="contact's photo"></a></li>
  </ul>
</ul>


  <p><a href="/">View all contacts</a></p>
