@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <h2>You've added a new contact</h2>
<ul>
  <li>@Model.GetName()</li>
  <ul>
    <li><a href="@model.GetPhoto()" alt = "contact's photo"></a></li>
    <li>@Model.GetPhone()</li>
    <li>@Model.GetAddress()</li>
  </ul>
</ul>


  <p><a href="/contact/new">View your contacts</a></p>
</div>
