@{
  Layout="Shared/_Layout.cshtml";
}
<div class="deleted">
  <h2>You have deleted your contact</h2>

  <p><a href="/">View all contacts</a></p>
  <p><a href="/contact/add">Create a new contact</a></p>

</div>
